Repository U2UTrainers/github-actions-demo: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/cd-dev-pipeline.yml, .azure-pipelines/deploy-infrastructure-pipeline.yml

.azure-pipelines/cd-dev-pipeline.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: DotNetCoreCLI@2
    inputs:
      command: build
      projects: '**/*.csproj'
      arguments: --configuration $(buildConfiguration)
  - task: DotNetCoreCLI@2
    inputs:
      command: publish
      publishWebProjects: true

.azure-pipelines/deploy-infrastructure-pipeline.yml:
  pool:
    vmImage: windows-latest
  steps:
  - task: AzureResourceManagerTemplateDeployment@3
    displayName: Deploy resource group
    inputs:
      deploymentScope: Subscription
      azureResourceManagerConnection: azure-michiel-sub-connection
      subscriptionId: 2886a9e4-7605-419d-84ef-512aa5f4c6fd
  ...

Add readme
  README.md
Due: none

Ignore vscode
  .gitignore
Due: none

Use latest versions
  infra/azure-openai.bicep
Due: .azure-pipelines/deploy-infrastructure-pipeline.yml

Refactor into one deployment per stage
  .azure-pipelines/deploy-infrastructure-pipeline.yml
Due: none

Fix formatting pipelines
  .azure-pipelines/deploy-infrastructure-pipeline.yml
Due: none

Add checkout step
  .azure-pipelines/deploy-infrastructure-pipeline.yml
Due: none

Refactor to give user control of summary length
  src/Summarization.API/Controllers/SummariesController.cs
  src/Summarization.API/Requests/GenerateSummaryRequest.cs
  src/Summarization.API/Services/ISummaryService.cs
  src/Summarization.API/Services/TextSummaryService.cs
Due: .azure-pipelines/cd-dev-pipeline.yml

Add infrastructure deployment template
  .azure-pipelines/templates/cd-template-pipeline.yml
  .azure-pipelines/templates/deploy-infrastructure.yml
Due: none

Change parameter names
  infra/azure-openai.bicep
  infra/web-app.bicep
Due: .azure-pipelines/deploy-infrastructure-pipeline.yml

Add bicep lint template
  .azure-pipelines/templates/lint-bicep.yml
Due: none

Refactor to use bicep lint template
  .azure-pipelines/deploy-infrastructure-pipeline.yml
Due: none

Remove quotes
  .azure-pipelines/templates/lint-bicep.yml
Due: none

Add deployment stages
  .azure-pipelines/deploy-infrastructure-pipeline.yml
Due: none

Use parameters in stead of variables
  .azure-pipelines/deploy-infrastructure-pipeline.yml
  .azure-pipelines/templates/deploy-infrastructure.yml
Due: none

Fix parameter name
  .azure-pipelines/templates/deploy-infrastructure.yml
Due: none

Use different service connections per environment
  .azure-pipelines/deploy-infrastructure-pipeline.yml
Due: none

Add all needed parameters
  .azure-pipelines/templates/deploy-infrastructure.yml
Due: none

Fix custom subdomain
  infra/azure-openai.bicep
Due: .azure-pipelines/deploy-infrastructure-pipeline.yml

Clean up files
  .azure-pipelines/cd-dev-pipeline.yml
  .azure-pipelines/cd-pipeline.yml
Due: none

Modify trigger
  .azure-pipelines/cd-pipeline.yml
Due: none

Update cd-pipeline.yml for Azure Pipelines
  .azure-pipelines/cd-pipeline.yml
Due: none

Add pool information
  .azure-pipelines/ci-pipeline.yml
Due: none

Updated cd-pipeline.yml
  .azure-pipelines/cd-pipeline.yml
Due: none

Add hello world endpoint
  src/Summarization.API/Controllers/SummariesController.cs
Due: .azure-pipelines/cd-dev-pipeline.yml

Disable CI triggers
  .azure-pipelines/cd-pipeline.yml
Due: none

Update ci-pipeline.yml for Azure Pipelines
  .azure-pipelines/ci-pipeline.yml
Due: none

Add hello world endpoint
  src/Summarization.API/Program.cs
Due: .azure-pipelines/cd-dev-pipeline.yml

feature: add personalized greeting endpoint
  src/Summarization.API/Program.cs
Due: .azure-pipelines/cd-dev-pipeline.yml

Set up CI with Azure Pipelines
  azure-pipelines.yml
Due: none

feat: add goodbye world endpoint
  src/Summarization.API/Program.cs
Due: .azure-pipelines/cd-dev-pipeline.yml

Create CI action
  .github/workflows/build-and-publish.yml
Due: none

Remove hello world endpoint
  src/Summarization.API/Program.cs
Due: .azure-pipelines/cd-dev-pipeline.yml

Path conditions:
  .azure-pipelines/cd-dev-pipeline.yml: any of: src
  .azure-pipelines/deploy-infrastructure-pipeline.yml: any of: infra
